<p class="card">Un parrafo</p>
<div id="card-angular" class="card">
  <div class="con-flex">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/128px-Angular_full_color_logo.svg.png" alt="Logo de Angular">
  </div>
  <h4>Angular mola</h4>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex velit quisquam excepturi magnam modi, voluptatem facere corrupti aperiam sed id iusto, consequuntur sunt, consectetur voluptatibus a provident atque amet hic.</p>
  <footer class="con-flex">
    <a class="con-flex" href="https://angular.io/" target="_blank">Doc</a>
    <button class="con-flex" type="button">+Info</button>
  </footer>
</div>
<!-- <div class="card">
  <p>Un parrafo</p>
</div> -->


<!-- <img class="circulo" src="https://avatars0.githubusercontent.com/u/6765239?s=460&v=4" alt=""> -->

<!--
<div>
  <div>
    <h1>Titulo</h1>
    <div>
      <ul>
        <li><a href="">Enlace 1</a></li>
        <li><a href="">Enlace 2</a></li>
        <li><a href="">Enlace 3</a></li>
      </ul>
    </div>
  </div>
  <div>
    <div>
      <p>Post 1</p>
    </div>
    <div>
      <p>Post 2</p>
    </div>
    <div>
      <p>Post 3</p>
    </div>
  </div>
  <div>
    <p>Creado por Angel Villalba ...</p>
  </div>
</div>



<div>
  <header>
    <h1>Titulo</h1>
    <nav>
      <ul>
        <li><a href="">Enlace 1</a></li>
        <li><a href="">Enlace 2</a></li>
        <li><a href="">Enlace 3</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <aside>
      <p>+ Info del autor</p>
      <ul>
        <li><a href="">Ultimos posts</a></li>
        <li><a href="">Blogs relacionados</a></li>
      </ul>
    </aside>
    <section>
      <h2>Cocina</h2>
      <article>
        <header>
          <h3>Receta de tarta de queso</h3>
        </header>
        <p>El contenido del Post 1</p>
        <footer>
          Enlaces a otras recetas
        </footer>
      </article>
      <article>
        <p>Post 2</p>
      </article>
    </section>
    <section>
      <article>
        <p>Post 3</p>
      </article>
    </section>
  </main>
  <footer>
    <p>Creado por Angel Villalba ...</p>
  </footer>
</div> -->

<!--
<header></header>
<footer></footer>
<main></main>
<nav></nav>
<section></section>
<article></article>
<aside></aside> -->

<!--
<form>
  <input type="text" minlength="3" maxlength="20" name="nombre" required>
  <input type="number" min="0" max="10">
  <input type="date">
  <input type="color">
  <input type="email">
  <input type="url">
  <input type="file">
  <input type="radio" name="opcion" value="si">Si
  <input type="radio" name="opcion" value="no">No
  <input type="checkbox" name="hobbies" value="1">Hobby 1
  <input type="checkbox" name="hobbies" value="2">Hobby 2
  <input type="checkbox" name="hobbies" value="3">Hobby 3
  <input type="checkbox" name="hobbies" value="4">Hobby 4
  <button type="submit">Enviar</button>
</form> -->